.form-control {
	margin: 0 auto;
	background: transparent;
	border-width: 1px;
	border-color: black;
	margin-top: 10px;
	height: 50px;
    width: 300px;
}

.registerform {
	margin-top: 20%;
	margin-left: 150px;

}

.btn-dark {
	margin-top: 10px;
}

.alert-test {
	margin-top: 20px;
	width: 500px;
	height: auto;
}