.form-control {
	margin: 0 auto;
	background: transparent;
	border-width: 1px;
	border-color: black;
	margin-top: 10px;
	height: 50px;
    width: 300px;
}

.signinform {
	margin-top: 10%;
}

.btn-dark {
	margin-top: 10px;
	border-radius: 5px;
}